.Cart1{
    background-image: url(../images/photo6107347365410221365.jpg) ;
    background-repeat: no-repeat; 
    background-size: cover;
    height: 200px;
    z-index: 1;
    background-color: rgb(34, 34, 34);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
}
 
    
    
    
