#content {
    min-height: 600px;
}

.list-foods-main {
    margin-bottom: 80px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

@media (min-width: 768px) {
    .col-sm-9 {
        width: 75%;
        float: left;
    }

    .col-sm-12 {
        width: 100%;
        float: left;
    }

    .col-sm-4 {
        width: 33.33333333%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.33333333%;
    }

    .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-4 {
        width: 33.33333333%;
    }

    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-2:nth-child(6n+1), .col-lg-3:nth-child(4n+1), .col-lg-4:nth-child(3n+1), .col-lg-6:nth-child(2n+1) {
        clear: left;
    }

    .col-lg-4 {
        width: 33.33333333%;
    }

    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
        float: left;
    }
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-sm-9 {
    padding-right: 15px;
    padding-left: 15px;
}

.col-sm-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.category-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.category-row::after {
    content: "";
}

.img-thumbnail {
    border: none;
    display: inline-block;
    max-width: 100%;
    height: auto;
    line-height: 1.42857143;
    background-color: #fff;
    transition: all .2s ease-in-out;
    margin-bottom: 30px;
}

.product-thumb {
    margin-bottom: 30px;
    position: relative;
}

.category-row .product-layout .product-thumb {
    display: flex;
    flex-direction: column;
    max-width: 270px;
}

.product-thumb .image {
    text-align: center;
    position: relative;
    overflow: hidden;
    background: var(--primary-hover-color);
}

.product-thumb .image a {
    display: block;
}

.product-thumb .image img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-height: 270px;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
}

.cart_main {
    position: absolute;
    right: 10px;
    top: 10px;
}

.right_info .button-group button, .product-thumb .button-group button, .cart_main button {
    height: 40px;
    width: 40px;
    cursor: pointer;
    position: relative;
    color: #ffffff;
    padding: 0px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 25px;
    transition: all 0.5s ease 0s;
    background-color: var(--secondary-color);
}

.product-thumb .button-group {
    opacity: 0;
    position: absolute;
    transform: translateY(-45%);
    left: 0px;
    right: 0px;
    top: 50%;
    transition: all 0.5s ease 0s;
}

.product-thumb:hover img{
    opacity: 0.5;
}

.product-thumb .button-group button:hover, .right_info .button-group button:hover {
    background: var(--secondary-color);
}

.product-thumb:hover .button-group {
    opacity: 1;
}

.product-thumb .addcart:hover {
    background: var(--secondary-hover-color);
}

.product-thumb .button-group button, .right_info .button-group button {
    background: var(--secondary-hover-color);
}

.product-thumb .caption {
    width: 100%;
    position: relative;
    transition: all 0.3s ease 0s;
    padding: 12px 0px 16px;
    background: var(--primary-hover-color);
    text-align: center;
}

.product-thumb .product-title {
    line-height: 20px;
    margin: 0px;
}

.product-thumb .product-title a {
    text-transform: capitalize;
    font-size: 16px;
    word-break: break-word;
}

.product-thumb .price {
    font-size: 16px;
    color: #222222; 
    font-weight: 400;
    text-align: center;
    margin: 12px 0px -4px;
}

.product-thumb .price-new {
    word-break: break-all;
}

.thumb-description {
    width: 100%;
}

.pro_pagination {
    clear: both;
    padding: 13px 0;
    border: 1px dashed var(--border-color);
    background: var(--primary-hover-color);
    margin-bottom: 50px;
}

.pro_pagination .text-left {
    line-height: 32px;
    float: left;
}

.text-right {
    text-align: right;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination {
    padding: 0;
    margin: 0;
    vertical-align: top;
}

.pagination>li {
    display: inline;
}

.pagination>li>a, .pagination>li>span {
    float: left;
    margin-left: 10px;
    width: 32px;
    height: 32px;
    line-height: 30px;
    text-align: center;
    padding: 0;
    position: relative;
    text-decoration: none;
    border-radius: 25px;
    font-size: 14px;
    border: 1px dashed var(--primary-color);
}

/* .pro_pagination .pagination > li.active > span, .pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    background: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--primary-hover-color);
    cursor: pointer;
    z-index: 1;
    border-radius: 25px;
} */

.cat-info {
    border: 1px dashed var(--border-color);
    background: var(--primary-hover-color);
    padding: 10px 15px;
}

.cat-sort {
    display: flex;
    align-items: center;
}

.cat-pagination-right > div {
    display: inline-block;
    vertical-align: top;
}

.text-right.show-text, .text-right.show-select {
    width: auto;
    float: left;
}

.text-right.show-text {
    padding: 0px 5px;
}

.text_limit, .text_sort {
    margin: 8px 0;
    font-size: 14px;
}

.select-filter-sort, .select-filter-show {
    position: relative;
}

.cat-pagination-right .form-control {
    padding: 4px 25px 4px 10px;
    margin: 0;
    height: 36px;
    border-radius: 0;
    background: transparent;
    border: 1px dashed var(--border-color);
    border-radius: 20px;
}

@media (max-width: 605px) {
    .category-row {
        justify-content: center;
    }
}